@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --main-color: #27949c;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.sidebar{
    width: 345px;
    position: fixed;
    height: 100%;
    background-color: var(--main-color);
    left: 0;
    top: 0;
}
.main-content{
    margin-left: 365px;

}

.sidebar-BrandLogo{
    height: 120px;
    width: auto;
    padding: 1rem 0rem 1rem 6.5rem;
}

.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
}

.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.2rem;

}
.sidebar-menu a span:first-child{
    font-size: 1rem;
    padding-right: 1rem;
}

.sidebar-menu a.active{
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.header{
    display: flex;
    justify-content: space-between;
}
.btnL{
    font-family: 'Poppins', sans-serif;
    padding: 10px 105px;
    position: absolute;
    margin-top: 116%;
    margin-left: 25px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
     background-color: rgba(0,136,169,0);
     color: #fff;
}

.SUB{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin-top: 140%;
    margin-left: 37%;
    color: #fff;
    font-size: 12px;
}

select{
    margin-left: 20%;
}

